
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body{
    background-size:cover;
    background-position:center;
}

canvas{
    box-shadow:7px 7px 7px black;
    border-radius:10px;
}